* {
  margin: 0px;
  padding: 0px;
}
body {
  /* background-color: #1d594e; */
  background-color: #589a8d;
}

/*PARA CENTRAR TODA LA PAGINA*/
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

/*CONTENIDO DE LA PAGINA(Titulo+Pokedex)*/
.NT {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px; /*Este puede que lo quitemos*/
  grid-template-rows: 1fr 7fr;
}
.Titulo {
  display: flex;
  align-content: center;
  justify-content: center;
  height: auto;
  width: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.Titulo h1 {
  font-family: Arial;
  font-size: 4rem;
  /* border: 1px solid black; */
  color: #f2cb05;
  margin-left: auto;
  margin-right: auto;
}

.todo {
  display: grid;
  grid-template-columns: 47.5% 5% 47.5%;
  grid-template-rows: 1fr;
  width: 860px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
/*PARTICION DE 'TODO*/
.TDere {
  grid-column: 3;
  grid-row: 1;
  /* border: 1px solid green; */
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
}
.Tcent {
  grid-column: 2;
  grid-row: 1;
  border: 1px solid rgba(0, 0, 0, 0.363);
  background-color: #f23030;
  border-top-right-radius: 10px;
  box-shadow: 3px 3px black;
  z-index: 2;
}
.TIzqu {
  grid-column: 1;
  grid-row: 1;
  /* border: 1px solid green; */
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
}
/*PARTICION DERECHA*/
.DU {
  background-color: #589a8d;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  z-index: 3;
}
.DD {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f23030;
  box-shadow: 3px 3px black;
  z-index: 3;
}
/*PARTICION IZQUIERDA*/
.IU {
  background-color: #f23030;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-top-left-radius: 10px;
}
.ID {
  background-color: #b12525;
  height: auto;
  border-bottom-left-radius: 10px;
  box-shadow: 3px 3px black;
  z-index: 1;
}
/*ZONA DE ARRIBA AMBOS LADOS*/
.cuad {
  grid-column: 1;
  grid-row: 2;
  background-color: #f23030;
}
.triad {
  grid-column: 2;
  grid-row: 2;
  /* display: flex;
  justify-content: start;
  align-items: center; */
}
.Ddentro {
  height: 100%;
  width: 100%;
  background-color: #f23030;
  clip-path: polygon(0 0, -1% 106%, 100% 100%);
  /* border-top: transparent;
  border-right: transparent 0px;
  border-bottom: solid #f23030 70px;
  border-left: solid #f23030 70px; */
}
.cuai {
  grid-column: 3;
  grid-row: 2;
  background-color: #b12525;
}
.triai {
  grid-column: 2;
  grid-row: 2;
}
.Identro {
  height: 100%;
  width: 100%;
  background-color: #b12525;
  clip-path: polygon(100% 0, 1% 106%, 100% 100%);
}

/*CIRCULOS DE CAMARA*/
.cuaC {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CB {
  height: 70%;
  width: 70%;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}
.CN {
  height: 80%;
  width: 80%;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CC {
  height: 90%;
  width: 87%;
  background-color: rgb(0, 197, 197);
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pru {
  height: 81%;
  width: 81%;
  background-color: rgb(0, 197, 197);
  border-radius: 50%;
  box-shadow: 3px 3px rgb(255, 255, 255);
}

/*SEMAFORO SUPERIOR IZQUIERDO*/
.sem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.CDA {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40%;
  width: 20%;
  background-color: black;
}
.CV,
.CA,
.CR {
  height: 69%;
  width: 66%;
  background-color: green;
  border-radius: 50%;
  border: 5px;
  box-shadow: 3px 3px;
}
.CA {
  background-color: yellow;
}
.CR {
  background-color: red;
}

/*PANTALLA DONDE VA A IR LA IMAGEN*/
.ID {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 3fr 1fr;
}
.screen {
  grid-column: 2;
  grid-row: 1;
  /* background-color: rgb(31, 71, 71); */
  background-color: #37695f;
  border-radius: 10px 50px 10px 50px;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 4fr 1fr;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  border: 5px solid #22413a;
}
.pantalla {
  grid-column: 2;
  grid-row: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
}
.pantalla img {
  object-fit: content;
  max-width: 100%;
  max-height: 100%;
  border-radius: 7px;
}
.BDP {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  grid-column: 2;
  grid-row: 2;
}
.reset {
  margin-top: 15px;
  height: 45%;
  width: 13%;
  border-radius: 50%;
  background-color: red;
  box-shadow: 3px 3px black;
}
.reset:hover {
  background-color: rgb(148, 1, 1);
}
.bosinilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3px;
  height: 80%;
  width: 50%;
  margin-top: 8px;
}
.rajada {
  height: 50%;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

/*BOTONES DEBAJO DE PANTALLA*/
.BI {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1.5fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.B1 {
  height: 55%;
  width: 50%;
  border-radius: 50%;
  background-color: rgb(0, 81, 255);
  position: relative;
  top: 20%;
  left: 23%;
  box-shadow: 3px 3px black;
}
.B1:hover {
  background-color: rgb(0, 51, 160);
}
.BP {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.BP1 {
  height: 10%;
  width: 40%;
  background-color: green;
  border-radius: 10px;
  box-shadow: 3px 3px black;
}
.BP1:hover {
  background-color: rgb(0, 87, 0);
}
.BP2 {
  height: 10%;
  width: 40%;
  background-color: orange;
  border-radius: 10px;
  box-shadow: 3px 3px black;
}
.BP2:hover {
  background-color: rgb(148, 96, 0);
}
.BL {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  background-color: rgb(255, 255, 59);
  border-radius: 10px;
  box-shadow: 3px 3px black;
  height: 50%;
  width: 100%;
}
.BL:hover {
  background-color: rgb(141, 141, 38);
}
.fle {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
}
.fle .cen {
  grid-column: 3;
  grid-row: 3;
  height: 100%;
  width: 100%;
  background-color: rgb(59, 59, 59);
  box-shadow: 3px 3px black;
  z-index: 1;
}
.fle .up {
  grid-column: 3;
  grid-row: 2;
  height: 100%;
  width: 100%;
  background-color: rgb(59, 59, 59);
  border-radius: 10px 10px 0px 0px;
  box-shadow: 3px 3px black;
}
.fle .down {
  grid-column: 3;
  grid-row: 4;
  height: 100%;
  width: 100%;
  background-color: rgb(59, 59, 59);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 3px 3px black;
  z-index: 3;
}
.fle .right {
  grid-column: 4;
  grid-row: 3;
  height: 100%;
  width: 100%;
  background-color: rgb(59, 59, 59);
  border-radius: 0px 10px 10px 0px;
  box-shadow: 3px 3px black;
  z-index: 2;
}
.fle .left {
  grid-column: 2;
  grid-row: 3;
  height: 100%;
  width: 100%;
  background-color: rgb(59, 59, 59);
  border-radius: 10px 0px 0px 10px;
  box-shadow: 3px 3px black;
  z-index: 0;
}
.up:hover,
.down:hover,
.right:hover,
.left:hover {
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}

/*LADO DERECHO*/
.DD {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
}
/*PANTALLA DE DATOS*/
.Datos {
  grid-row: 1;
  grid-column: 2;
  height: 80%;
  width: 100%;
  border-radius: 20px;
  position: relative;
  top: 10%;
  background-color: black;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  color: white;
  font-size: 18px;
  font-family: Arial;
}

.DD h1 {
  font-size: 25px;
}

/*OPCIONES PARA BUSCAR*/
.ops {
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.BOT {
  position: relative;
  top: 10%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  border-radius: 20px;
  background-color: rgb(94, 156, 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  box-shadow: 3px 3px black;
  /* row-gap: 5px; */
  height: 80%;
}
.BOT1,
.BOT2,
.BOT3 {
  height: 75%;
  width: 90%;
  background-color: rgb(67, 110, 180);
  position: relative;
  top: 10%;
  left: 6px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px black;
}
.BOT1 h1,
.BOT2 h1,
.BOT3 h1 {
  color: white;
  font-family: Arial;
  font-size: 20px;
}
.BOT1:hover,
.BOT2:hover,
.BOT3:hover {
  background-color: rgb(43, 70, 116);
}
.in {
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 10px;
  height: 30%;
  width: 100%;
  position: relative;
  top: 20%;
  outline: none;
  font-size: 20px;
  font-family: Arial;
  text-align: center;
}
.clean {
  grid-column: 3;
  grid-row: 2;
  height: 30%;
  width: 30%;
  border-radius: 50%;
  background-color: rgb(255, 255, 59);
  box-shadow: 3px 3px black;
  position: relative;
  top: 20%;
  left: 50%;
}
.clean:hover {
  background-color: rgb(141, 141, 38);
}

/*Bosinas DE MERO ABAJO DERECHA*/
.ot {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.ot1,
.ot2 {
  background-image: linear-gradient(60deg, rgb(255, 255, 59) 0%, #64b3f4 100%);
  height: 50%;
  width: 45%;
  border-radius: 20px;
  box-shadow: 3px 3px black;
}

@media screen and (max-width: 1000px) {
  .todo {
    width: 752px;
  }

  .DD,
  .ID {
    grid-template-columns: 1fr 12fr 1fr;
  }

  .TDere,
  .TIzqu {
    height: 630px;
  }
  /* .TDere{
    width:;
  } */
}

@media screen and (max-width: 800px) {
  .NT {
    grid-template-rows: 0.5fr 7fr;
  }
  .todo {
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 390px;
  }
  .TDere {
    grid-column: 1;
    grid-row: 2;
    height: 504px;
  }
  .clean {
    height: 37%;
    width: 30%;
  }
}
